$color-white-primary: #fff;
$color-white-secondary: #f8f8f8;
$color-white-tertiary: #fefefe;

$color-gray-primary: #a8a8b3;
$color-gray-secondary: #737380;


$color-black-primary: #000;
$color-black-secondary: #29292e;

$color-black-transparent: rgba(0, 0, 0, 0.04);

$color-purple-primary: #835afd;

$font-standard: "Poppins", sans-serif;
$font-medium: 400 16px "Poppins", sans-serif;
$font-large: 700 36px "Poppins", sans-serif;
