$color-white-primary: #fff;
$color-white-secondary: #f8f8f8;

$color-gray-primary: #a8a8b3;

$color-black-primary: #000;
$color-black-secondary: #29292e;

$font-standard: "Poppins", sans-serif;
$font-medium: 400 16px "Poppins", sans-serif;
$font-large: 700 36px "Poppins", sans-serif;
