@import "./variables";

#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;

    background: #835afd;
    color: $color-white-primary;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 128px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: $font-large;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
      color: $color-white-secondary;
    }
  }

  main {
    flex: 8;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
    }

    button {
      border: 1px solid $color-gray-primary;
    }

    h2 {
      font-size: 24px;
      margin: 64px 0 24px;
      font-family: $font-standard;
      color: $color-black-secondary;
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: $color-white-primary;
        border: 1px solid $color-gray-primary;
      }

      button {
        border: 1px solid $color-gray-primary;
        margin-top: 16px;
      }

      button,
      input {
        width: 100%;
      }
    }

    p {
      font-size: 12px;
      color: $color-gray-secondary;
      margin-top: 16px;

      a {
        color: #e559f9;
      }
    }
  }

  .create-room {
    border-color: $color-black-primary;
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: $color-white-primary;
    color: $color-black-primary;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 14px;
    color: $color-gray-primary;
    margin: 32px 0;

    display: flex;
    align-items: center;

    &::before {
      content: "";
      flex: 1;
      height: 1px;
      background: $color-gray-primary;
      margin-right: 16px;
    }

    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background: $color-gray-primary;
      margin-left: 16px;
    }
  }
}
