@import "./variables";

.question {
  background: $color-white-tertiary;
  border-radius: 8px;
  box-shadow: 0 2px 12px $color-black-transparent;
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  &.highlighted {
    background: #f4f0ff;
    border: 1px solid $color-purple-primary;

    footer .user-info span {
      color: $color-black-secondary;
    }
  }

  &.answered {
    background: #dbdcdd;
  }

  p {
    color: $color-black-secondary;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: $color-gray-secondary;
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }
    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;

      span {
        padding: 2px 0;
      }

      &.like-button {
        display: flex;
        color: $color-gray-secondary;
        gap: 8px;

        &.liked {
          color: $color-purple-primary;

          svg path {
            stroke: $color-purple-primary;
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}
